
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {width: auto;}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li{
  float: left;
}

#cart-icon {
  float: right;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.first-page-container {
  height: 626px;
}

.first-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 50px;
  }


.first-page-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
}

.first-page-text-container {
  background: rgb(241,241,241);
  background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(158,158,158,0.19940476190476186) 17%);
}

.mons {
  font-family: 'Gloock', serif;
  font-size: 25rem;
  position: absolute;
  margin-top: 0;
  margin-left: -10rem;
  color: #00000031;
  letter-spacing: 3rem;
  z-index: -5;
}

.tera {
  font-family: 'Gloock', serif;
  position: absolute;
  top: -1rem;
  right: 0;
  margin-right: 0px;
  font-size: 20rem;
  color: #00000061;
  letter-spacing: 1rem;
  z-index: -5;
}

.monstera-text {
  position: absolute;
  top: 37rem;
  width: 50rem;
  text-align: center;
  margin-right: 50px;
}

.second-page-container {
  background-color: white;
}

.product-title-container {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  background-color: #acacac;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  text-align: center;
}

.products {
  width: 10rem;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

div > input {
  margin: 10px;

}

#products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: 'Poppins', sans-serif;
}

.plant-container {
  text-align: center;
}


#cartBtn {
  position: absolute;
  margin-top: 10px;
  right: 10px;
}

#cartContainer {
  right: 1rem;
  height:0px;
  background:gray;
  position:relative;
  overflow:hidden;
  transition:all 0.5s ease;
  float: right;
  color: white;
  text-align: center;
}

#cartContainer.active {
  color: white;
  right: 1rem;
  width: 500px;
  height:auto;
  background:gray;
  position:fixed;
  transition:all 0.5s ease;
  float: right;
  z-index: 7;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 50px;
  background-color: #acacac;
  text-align: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  }

  .h4title {
    font-size: 2rem;
    margin: 30px;
  }

  #imgOfPlant {
    width: 200px;
  }